.error-page {
    background-image: url(../img/404-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    // @include flex-box;
    .content-box {
        text-align: center;
        color: $white;
        max-width: 96.2rem;
        @include large-1191 {
            max-width: 76.2rem;
        }
        @include m-575 {
            max-width: 50.2rem;
        }
        @include m-450 {
            max-width: 38.2rem;
        }
        @include m-375 {
            max-width: 36.2rem;
        }
        @include m-375 {
            max-width: 31.2rem;
        }
        .error-img-block {
            margin-bottom: 10rem;
            @include large-1191 {
                margin-bottom: 7rem;
            }
            @include m-575 {
                margin-bottom: 4rem;
            }
            .error-img {
                @include large-1191 {
                    max-width: 70%;
                }
            }
        }

        .title {
            font-size: 3.2rem;
            font-weight: bold;            
            line-height: 4.5rem;
            margin-bottom: 3rem;
            @include m-450 {
                font-size: 2.6rem;
                line-height: 3.9rem;
                margin-bottom: 2rem;
            }
        }
        .text-desc {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 2.8rem;
            margin-bottom: 5rem;            
        }
        .primary-btn {
            font-size: 1.6rem;
            max-width: 22.2rem;
            height: 5rem;
        }
    }
}