.articles{
    .primary-headline {
        margin-bottom: 5.2rem;
    }
}
.article-card-main {
    margin-bottom: 3rem;
}

.article-card {
    background-color: $white;
    box-shadow: 0 0 6px rgba($black,.16);
    transition: .4s all;
    &:hover {
        box-shadow: 0 0 16px rgba($secondary,.16);
        .article-img-block {
            img {
                transform: scale(1.1);
            }
        }
    }
    @include m-450 {
        flex-wrap: wrap;
    }
    .article-img-block {
        width: 19.7rem;
        min-width: 19.7rem;
        height: 20rem;
        overflow: hidden;
        @include flex-box;
        background-color: #f5f5f5;    
        @include m-450 {
            width: 100%;
            height: 22rem;            
        }
        img {
            @include m-450 {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            transition: .4s all;
        }     
    }
    .arti-desc-block {
        padding: 1.5rem 2.5rem 1.8rem;
        .arti-title {
            font-size: 2.2rem;
            font-weight: 500;
            color: $secondary;
            line-height: 3.1rem;
            margin-bottom: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }
        .primary-text-p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
            line-height: 2.8rem;
            margin-bottom: 2.1rem;
        }
        .arti-date {
            font-size: 1.4rem;
            font-weight: 300;
            color: $gray-900;
            line-height: 2rem;
            margin-top: auto;
        }
    }
}

.article-dt-img-block {
    max-width: 45.8rem;
    width: 100%;
    height: 46.5rem;
    overflow: hidden;
    @include flex-box;
    background-color: #f5f5f5;
    margin-right: 3rem;
    margin-bottom: 2.9rem;
    @include small-767 {
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;            
    }
    @include m-450 {
        height: 36.5rem;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article-dt-desc {
    .arti-date {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.8rem;
        color: $gray-900;
        margin-bottom: 1.4rem;
        display: inline-block;
    }
    .article-title {
        font-size: 2.4rem;
        font-weight: 500;
        color: $secondary;
        line-height: 3.4rem;
        margin-bottom: 2rem;
    }
    .primary-text-p {
        line-height: 2.8rem;
    }
}

// right direction css

.rtl {
    .article-dt-img-block {
        margin-right: 0;
        margin-left: 3rem;
    }
}